.post {
    border: solid black 5px;
    background-color: white;
    margin-left: 600px;
    margin-right: 600px;
}

body {
    background-color: black;
}

.post-header {
    display: flex;
}

.titulo {
    margin: 10px
}

.icono-menu {
    padding-top: 40px;
    margin-left: 250px;
    font-size: 60px;
}

.icono-html {
    margin-left: 40px;
    font-size: 70px;
    padding-top: 40px;
    margin-right: 40px;
}

img {
    width: 625px;
}

.imagen {
    text-align: center;

}

.cuerpo {
    text-align: center;

}
.icono{
    padding: 10px;
}
.iconos {
    font-size: 30px;
    display: flex;
    justify-content: space-between;

}

.reacciones{
    display: flex;
    margin-left: 10px;
    
}


.icono-guardar {
    padding: 10px;
    margin-right: 30px;
}

.texto {
    font-size: 20px;
    padding: 20px;

}

span {
    font-weight: bold;
    font-size: 20px;
}